<div class="page-container">

  <h2 class="page-title">Liste des Suggestions</h2>

  <!-- Bouton Ajouter suggestion -->
  <button class="btn-add" routerLink="/suggestions/add">
    + Ajouter suggestion
  </button>

  <!-- Barre de recherche -->
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Rechercher par titre ou catégorie..."
    class="search-bar"
  />

  <!-- Liste -->
  <div class="card" *ngFor="let suggestion of filteredSuggestions">

    <h3 class="card-title">{{ suggestion.title }}</h3>

    <div class="card-meta">
      <span class="category">{{ suggestion.category }}</span>
      <span class="date">{{ suggestion.date | date:'dd/MM/yyyy' }}</span>
    </div>

    <p class="card-description">
      {{ suggestion.description }}
    </p>

    <!-- Badge statut -->
    <span
      class="badge"
      [ngClass]="{
        'badge-acceptee': suggestion.status === 'acceptee',
        'badge-refusee': suggestion.status === 'refusee',
        'badge-attente': suggestion.status === 'en_attente'
      }"
    >
      {{ suggestion.status }}
    </span>

    <p><strong>Likes :</strong> {{ suggestion.nbLikes }}</p>

    <!-- Actions -->
    <div class="card-actions" *ngIf="suggestion.status !== 'refusee'">

      <button class="btn-like" (click)="like(suggestion)">
        👍 Like
      </button>

      <button class="btn-favorite" (click)="addToFavorites(suggestion)">
        ⭐ Favoris
      </button>
     <button class="btn-details" [routerLink]="['/suggestions/details', suggestion.id]">
        Voir les détails
      </button>

      <button class="btn-delete" (click)="deleteSuggestion(suggestion)">
        🗑 Supprimer
      </button>

    </div>



  </div>



</div>
